<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knobblochsapplication.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".appcomponents.di.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modules.diagramview.ui.DiagramViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreenthree.ui.HelpScreenThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.ui.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.downloadlist.ui.DownloadListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.sort.ui.SortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goal.ui.GoalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".modules.goalsunion.ui.GoalsUnionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.main.ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.helpscreenone.ui.HelpScreenOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreenfour.ui.HelpScreenFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreentwo.ui.HelpScreenTwoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>