<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knobblochsapplication.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".appcomponents.di.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modules.menuone.ui.MenuSide"
            android:exported="false" />
        <activity
            android:name=".modules.menuone.ui.MenuOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goalscheme.ui.GoalSchemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menutwo.ui.MenuTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.changetask.ui.ChangeTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.percentageoftask.ui.PercentageOfTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menu.ui.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.addtask.ui.AddTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goalsdelete.ui.GoalsDeleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.addinganewgoal.ui.AddingANewGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.diagramview.ui.DiagramViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.percentageofgoal.ui.PercentageOfGoalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreenthree.ui.HelpScreenThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menuunion.ui.MenuUnionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.settings.ui.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.downloadlist.ui.DownloadListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.sort.ui.SortActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menuone.ui.MainMenu"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.goalsunion.ui.GoalsUnionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goalschange.ui.GoalsChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goals.ui.GoalsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.goalsuniontwo.ui.GoalsUniontwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.deletebranches.ui.DeleteBranchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreenone.ui.HelpScreenOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.cautionpriority.ui.CautionPriorityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreenfour.ui.HelpScreenFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.helpscreentwo.ui.HelpScreenTwoActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>